<div 
    *ngIf="errorMessage"
    class="alert alert-dismissible alert-warning">
    <button (click)="hideErrorMessage()"
        type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">
        {{ errorMessage }}
    </p>
</div>

<div class="container">
    <h1 class="mt-3 text-center display-5">Enter your url:</h1>

    <div class="row">
        <div class="col-lg-8 mb-2">
            <input [(ngModel)]="url" type="text" name="url" id="url" class="form-control form-control-lg" placeholder="Enter a url">
        </div>
        <div class="col-lg-4 mb-2">
            <button (click)="handleCreateUrl()" class="w-100 btn btn-primary btn-lg">Create Url</button>
        </div>
    </div>

    <app-spinner *ngIf="processingUrl">
    </app-spinner>

    <div *ngIf="isUrlProcessed" class="row mt-4">
        <div class="col-lg-12">
            <input [(ngModel)]="urlProcessed" type="text" name="url-processed" id="url-processed" class="form-control form-control-lg" placeholder="Url created">
        </div>
    </div>
</div>